<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id = 'myEdit'>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="myModalLabel">Detail Hasil</h4>
			</div>
			<div class="modal-body">
								<h3>Hasil Fuzzyfikasi</h3>
								<table class="table table-striped table-bordered">
			                      <thead>
			                        <tr>
			                          <th>Bulan</th>
			                          <th>Tanggal</th>
			                          <th>Variabel</th>
			                          <th>Himpunan Fuzzy</th>
			                          <th>Hasil</th>
			                        </tr>
			                      </thead>
			                      <tbody>
			                      {% for fuzz in fuzzifikasi %}
			                        <tr>
			                          <td>{{ fuzz.datas.bulan }}</td>
			                          <td>{{ fuzz.datas.minggu }}</td>
			                          <td>{{ fuzz.parameter }}</td>
			                          <td>{{ fuzz.derajat }}</td>
			                          <td>{{ fuzz.hasil }}</td>
			                        </tr>
			                      {% endfor %}
			                      </tbody>
			                    </table>
			                    <h3>Hasil Rule Base</h3>
		                         <table class="table table-bordered">
			                      <thead>
			                        <tr>
			                          <th>Bulan</th>
			                          <th>Tanggal</th>
			                          <th>Permintaan</th>
			                          <th>Persediaan</th>
			                          <th>a-predikat</th>
			                          <th>z</th>
			                          <th>a-predikat * z</th>
			                        </tr>
			                      </thead>
			                      <tbody>
			                      {% for rule in rulebase %}
			                        <tr>
			                          <td>{{ rule.datas.bulan }}</td>
			                          <td>{{ rule.datas.minggu }}</td>
			                          <td>{{ rule.permintaan }}</td>
			                          <td>{{ rule.persediaan }}</td>
			                          <td>{{ rule.a_predikat }}</td>
			                          <td>{{ rule.z }}</td>
			                          <td>{{ rule.az_predikat }}</td>
			                        </tr>
			                      {% endfor %}
			                      </tbody>
			                     </table>
			                     <h3>Hasil Defuzzyfikasi</h3>
			                     <table class="table table-bordered">
			                      <thead>
			                        <tr>
			                          <th>Bulan</th>
			                          <th>Tanggal</th>
			                          <th>Hasil</th>
			                        </tr>
			                      </thead>
			                      <tbody>
			                      {% for defuzz in defuzzifikasi %}
			                        <tr>
			                          <td>{{ defuzz.datas.bulan }}</td>
			                          <td>{{ defuzz.datas.minggu }}</td>
			                          <td>{{ defuzz.hasil }}</td>
			                        </tr>
			                      {% endfor %}
			                      </tbody>
			                     </table>
			</div>
			<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
			
    	</div>
  	</div>
</div>